@model List<User>

<h1>Användare</h1>

<head>
    <title>Person Information</title>
</head>

<table class="table">
    <thead>
        <td>Användarnamn</td>
        <td>Förnamn</td>
        <td>Efternamn</td>
        <td>Ålder</td>
        <td>Adress</td>
        <td>Email</td>
       
    </thead>
<tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
            </tr>
        }
</tbody>
 </table>
